baseURL = "https://furkanberkkaya.com"
title = "Sadece merak ettiklerim"
theme = "hugo-theme-bootstrap"
copyright = "Copyright © 2016-{year} Razon Yang. All Rights Reserved."

# Multilingual mode
defaultContentLanguage = "tr"
defaultContentLanguageInSubdir = true # If you use only one language comment this option
#disableLanguages = ["zh-cn" ,"zh-tw" , "fr"] # For disable one or more language

# Pagination
paginate = 5
# paginatePath = "page"

# Disqus
# disqusShortname = "yourdiscussshortname"

# Google analytics
# googleAnalytics = "UA-123-45"

enableRobotsTXT = true

enableEmoji = true

# hasCJKLanguage = true # Turn on it if your content contains Chinese/Japanese/Korean Languages.

pygmentsUseClasses = true

[blackfriday]
  hrefTargetBlank = true

[outputs]
  home = ["HTML", "RSS", "JSON"]

[taxonomies]
  category = "categories"
  series = "series"
  tag = "tags"
  
[languages.tr]
    title = "Türkçe"
    languageName = "Türkçe"
    weight = 1